numpy>=1.26.4
scipy>=1.12.0
matplotlib>=3.8.0
gymnasium==1.0.0
numba>=0.59.0
tensorboard>=2.16.0
setuptools==80.9.0
h5py>=3.10.0
omegaconf>=2.3.0
shapely>=2.0.0
opencv-python-headless>=4.10.0.84
einops>=0.8.0
tqdm>=4.66.0
plotly>=5.22.0
jupyterlab>=4.2.0
ipykernel>=6.29.0
nbconvert>=7.16.0
